body{
        background: rgba( 255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-image: url(img/hackimg.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    
    }
 img{
        border-radius: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
 .word{
         color: white;
         display: block;
         margin-left: auto;
         margin-right: auto;
         
 }

 .word1{
         color: white;
 }


 ::-webkit-scrollbar{
     width: 10px;
 }

 ::-webkit-scrollbar-track{
     background: #0CCDF2;
     border-radius: 30px;

 }
::-webkit-scrollbar-thumb{
    background: #000000 ;
    border-radius: 30px;
}
